<p id="notice"><%= notice %></p>

<h1>Listing Unirefs</h1>

<table>
  <thead>
    <tr>
      <th>Shortname</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @unirefs.each do |uniref| %>
      <tr>
        <td><%= uniref.shortname %></td>
        <td><%= link_to 'Show', uniref %></td>
        <td><%= link_to 'Edit', edit_uniref_path(uniref) %></td>
        <td><%= link_to 'Destroy', uniref, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Uniref', new_uniref_path %>
