<%= form_for(@bibref) do |f| %>

    <%= render 'form_errors' %>


    <div class="field">
      <%= f.label :shortname %><br>
      <%= f.text_field :shortname %>
    </div>

    <div class="field">
      <%= f.label :reftype %><br>
      <%= f.select :reftype, options_for_select(Bibref.possible_reftypes) %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
