<%= form_for(@bibref) do |f| %>

    <%= render 'form_errors' %>


    <div class="field">
      <%= f.label :shortname %><br>
      <%= f.text_field :shortname %>
    </div>

    <div class="field">
      <%= f.label :reftype %><br>
      <%= f.select :reftype, options_for_select(["book", "article", "inproceedings"]) %>
    </div>


    <% @fields.each do |field| %>

        <% :content == field.content %>
        <%= f.label field.name %><br>
        <%= f.text_field :content %><br>
    <% end %>




    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
