<p id="notice"><%= notice %></p>

<h1>Editing <%= @bibref.shortname %></h1>



<p>[2] Fill in at least all required fields!</p>

<%= form_for(@bibref) do |f| %>

    <%= render 'form_errors' %>

    <div class="field">
      <%= f.label :shortname %><br>
      <%= f.text_field :shortname %>
    </div>

    <%= f.fields_for :fields do |attr_f| %>
        <p>
          <%= attr_f.label(:content) {attr_f.object.name} %><br>
          <%= attr_f.text_field :content %>
        </p>
    <% end %>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>


<%= link_to 'Show', @bibref %> |
<%= link_to 'Back', bibrefs_path %>
