<p id="notice"><%= notice %></p>

<h1>Editing <%= @bibref.shortname %></h1>



<p>[2] Fill in at least all required fields!</p>

<%= form_for(@bibref) do |f| %>

    <%= render 'form_errors' %>

    <div class="field">
      <%= f.label :shortname %> *<br>
      <%= f.text_field :shortname %>
    </div>

    <%= f.fields_for :fields, @bibref.get_fields do |attr_f| %>
        <div class="field">
          <% is_required = @bibref.get_required_field_symbols.include? attr_f.object.name.to_sym %>
          <%= attr_f.label(:content) {attr_f.object.name} %><%= ' *' if is_required %><br>
          <%= attr_f.text_field :content %>
        </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Update reference" %>
    </div>
<% end %>


<%= link_to 'Show', @bibref %> |
<%= link_to 'Back', bibrefs_path %>
