
<h1>Listing References</h1>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Shortname</th>
    <th>Type</th>
    <th colspan="8"></th>
  </tr>
  </thead>

  <tbody>
  <% @bibrefs.each do |bibref| %>
      <%= render 'bibref_row', bibref: bibref %>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reference', new_bibref_path %> |
<%= link_to 'Search', search_bibrefs_path %> |
<%= link_to 'List references as BibTeX', bibtex_list_bibrefs_path %> |
<%= link_to 'Download as .bib file', download_bibrefs_path %>