<h1>Search</h1>

<div id="search-field">
  <%= form_tag(search_bibrefs_path , method: 'post') do %>
      <%= label_tag(:query, 'Search:') %>
      <%= text_field_tag(:query) %>
      <%= submit_tag('Search') %>
  <% end %>
</div>

<div id="search-results" >
  <% unless @results.nil? %>
      <h2>Results for "<%= @query %>"</h2>

      <table class="table table-striped">
        <thead>
        <tr>
          <th>Shortname</th>
          <th>Type</th>
          <th colspan="8"></th>
        </tr>
        </thead>
        <tbody>
        <% @results.each do |bibref| %>
            <%= render 'bibref_row', bibref: bibref %>
        <% end %>
        </tbody>
      </table>
  <% end %>
</div>

<%= link_to 'Back', bibrefs_path %>