<p id="notice"><%= notice %></p>

<p>
  <strong>Shortname:</strong>
  <%= @bibref.shortname %>
</p>
<p>
  <strong>Type:</strong>
  <%= @bibref.reftype %>
</p>

<p>
<strong>Attributes:</strong>

<ul>
  <% @bibref.get_fields.each do |field| %>
      <% unless field.content.empty? %>
        <li><%= field.name + ": " + field.content %></li>
      <% end %>
  <% end %>
</ul>
</p>

<%= link_to 'Edit', edit_bibref_path(@bibref) %> |
<%= link_to 'Show as BibTeX', bibtex_bibref_path(@bibref) %> |
<%= link_to 'Back', bibrefs_path %>
